<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
   background-color: rgb(27, 187, 67);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}
    </style>
</head>
<body>
    <main >
        <nav class="topnav">  
            <a class="active" href="/">Trang chủ</a>
            <a class="active" href="/shop">Sản phẩm</a>
            <a href="/add-product">Thêm sản phẩm</a>            
        </nav>
        <section  style="text-align: center;">
            <form class="product-form" action="/addnew" method="POST"enctype="multipart/form-data">
                <label for="fname">Tên sản phẩm:</label><br>
                <input type="text" id="fname" name="fname" ><br>
                <label for="lname">giá:</label><br>
                <input type="text" id="lname" name="lname" ><br>
                <label for="fname">Mô tả sản phẩm:</label><br>
                <input type="text" id="fname" name="fname" ><br>
                 <label for="fname">Hình ảnh:</label><br><br>
                <input type="submit" value="Thêm sản phẩm">
              </form>
        </section>
    </main>
</body>
</html>
